<div class="overlay">
  <div class="mainheader">
    <mat-toolbar role="heading" class="header">
      <div class="nav-menu-links">
        <a class="nav-menu-links_link" href="">
          <img src="../../../assets/journalism.png" alt="Home Icon" class="go_home_icon">
        </a>
        <button mat-button class="menubtn">
        </button>
      </div>
    </mat-toolbar>
  </div>
  <div class="landing_page_search container">
    <div class="row search_form_text">
      <div>
        <h1 class="mb-5">Search millions of news headlines worldwide</h1>
      </div>
      <div>
        <form method="get" action="/search" accept-charset="UTF-8">
          <div class="form-row">
            <div>
              <input type="text" name="q" class="landing_page_form_search" placeholder="enter search topic...">
            </div>
          </div>
        </form>
      </div>
      <div>
          or you can browse our categories
        <a href="/home">
            <span> here</span>
        </a>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div style="display:flex">
      <div>
        <small>Michael Ashefor. 2019</small>
      </div>
      <div style="margin-left:auto">
        <small>Powered by <a href="https://newsapi.org/">newsapi.org</a></small>
      </div>
    </div>
  </footer>
</div>