<div id="page-container">
  <div class="mainheader">
    <mat-toolbar role="heading" class="header">
      <button mat-button class="menubtn" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav-menu-links">
        <a class="nav-menu-links_link" href="">Home</a>
        <a class="nav-menu-links_link" href="">News from Nigeria</a>
        <a class="nav-menu-links_link" href="/sports">Sports</a>
        <a class="nav-menu-links_link" href="">Entertainment</a>
      </div>
      <span class="example-fill-remaining-space"></span>
      <form method="get" action="/search" accept-charset="UTF-8">
        <input class="nav-search-form__input" type="text" name="q" id="nav-search" placeholder="search"
          autocomplete="off" aria-label="search">
      </form>
    </mat-toolbar>
  </div>

  <div class="mobile_scrn_spinner" *ngIf="mobileSpinner">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" [fixedInViewport]="fixedInViewport" [fixedTopGap]="fixedTopGap"
      [fixedBottomGap]="fixedBottomGap">
      <mat-nav-list role="list">
        <mat-list-item role="navigation"><a href="">Home</a></mat-list-item>
        <mat-list-item role="navigation"><a href="/sports">Sports</a></mat-list-item>
        <mat-list-item role="navigation"><a href="">Entertainment</a></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <div class="sortItems">
          <div class="sortitems_description">
            <span>
              Sort Items by:&nbsp; 
            </span>
          </div>
            <div>
                <select name="" id="" (change)="sortItems($event)">
                    <option value="relevancy" selected>Relevancy</option>
                    <option value="popularity">Popularity</option>
                    <option value="publishedAt">Newest</option>
                  </select>
            </div>
          </div>
      <div class="container">
        <div class="overlay" *ngIf="pageloader">
          <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
          </mat-progress-spinner>
        </div>
        <div *ngFor="let search of searcharticles" class="items animated bounceInLeft">
          <a href="{{search.url}}" target="_blank" class="link-card">
          <div class="news-card">
            <div class="img-container" [ngStyle]="{'background-image': 'url('+search.urlToImage+')'}">
            </div>
            <div class="news-description">
              <div>
                <a href="{{search.url}}" target="_blank">
                  <p>
                    {{search.title}}
                  </p>
                </a>
              </div>

            </div>
          </div>
          </a>
        </div>
      </div>
      <mat-paginator *ngIf="showPaginator" [length]="length" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20, 25, 50]" (page)="PageEvent=paginator($event)">
      </mat-paginator>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer id="footer">
    <div style="display:flex">
      <div>
        <small>Michael Ashefor. 2019</small>
      </div>
      <div style="margin-left:auto">
        <small>Powered by <a href="https://newsapi.org/">newsapi.org</a></small>
      </div>
    </div>
  </footer>
</div>